<h1 class="titulo" @tileEnter>Tus asesores</h1>
<p class="subtitulo" @tileEnter>Consulta con tu asesor financiero cuando lo necesites</p>


<div *ngIf="chats.length === 0" class="no-chats" @tileEnter>
  <p>No hay chats disponibles actualmente.</p>

  <button class="btn-reservas" (click)="irAAsesores()">
    Crear una reserva
    <i class="bi bi-calendar-event"></i>
  </button>
</div>


<div class="lista-chats" @tileEnter *ngIf="chats.length > 0">
  <div class="chat-card" *ngFor="let chat of chats" (click)="abrirChat(chat)">
    <img [src]="obtenerAvatar(chat.asesor.nombre)" class="avatar" />
    <div class="info">
      <h3>{{ chat.asesor.nombre }}</h3>
      <p>Haz clic para continuar la conversación</p>
    </div>
  </div>
</div>

