@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Sharp");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");
:root{
  font-family: 'Poppins', sans-serif;
  --color-primary:#6C9BCF;
  --color-danger:#FF0060;
  --color-success:#1B9C85;
  --color-warning:#F7D060;
  --color-white: #fffbfb;
  --color-info-dark:#7d8da1;
  --color-dark:#363949;
  --color-light:rgba(132,139,200,.18);
  --color-dark-variant:#677483;
  --color-background: #f6f6f9;

  --card-border-radius:2rem;
  --border-radius-1:.4rem;
  --border-radius-2:1.2rem;

  --card-padding:1.8rem;
  --padding-1:1.2rem;

  --box-shadow:0 2rem 3rem var(--color-light);
}

/* Reset básico */
* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size:15px;
  margin:0; padding:0; border:0; outline:0;
}

body{
  width:100%;
  font-family:'Poppins',sans-serif;
  font-size:.88rem;
  background:var(--color-background);
  overflow-x:hidden;
  user-select:none;
  margin-left: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
